.canvas-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  pointer-events: none;
}

.grid {
  top: 0;
  left: 0;
  background-color: var(--primary);
  /* width: 80vh; */
  /* height: 80vh; */
  /* height:100% */
}
