.bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--secondary);
  border-radius: 0.5rem;
}

.bar-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
