.bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.bar-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pressed {
  top: 2px;
  left: 1px;
  box-shadow: none;
  color: red;
}
